rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if false;
    }

    match /logs/{item} {
        allow read: if request.auth.token.email_verified == true && (request.auth.token.email == 'YOUR_EMAIL_HERE' || request.auth.token.email == 'ANOTHER_EMAIL_HERE');
    }
  }
}
