rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if false;
    }

    match /logs/{item} {
        allow read: if request.auth.token.email_verified == true && request.auth.token.email in [EMAIL_ONE, EMAIL_TWO, EMAIL_THREE];
    }
  }
}
